# Ignore bundler config.
/.bundle
/.rspec

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

.DS_Store
.Spotlight-*
.Trashes
*.sublime-project
*.sublime-workspace

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

